<div class="jumbotron">
    <h1>Hospital Management System</h1>
    <div>Features of this application</div>
    <div>
        <ol>
            <p>This application is implemented using <b>WEBAPI- GET, POST, PUT and DELETE method</b></p>
            <p><b>Google Maps</b> is used to display the locations and other details of the hospital all over USA </p>
            <p><b>Email </b>feature to alert the patient about an appointment</p>
            <p>Database operations such as <b>INSERT, UPDATE, SELECT(JOINS) and DELETE </b></p>
            <p><b>Bar charts </b>to display the display the patient progress.</p>
        </ol>
    </div>
</div>
