
@{
    ViewBag.Title = "locations";
}
   ﻿
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjh8UG3o9_aMA9zJvPV49di-kmVDMDeDw" type="text/javascript"></script>


<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
<br />
<!-- This is the div that will contain the Google Map -->
<div id="map_canvas" style="height: 550px;"></div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
    <section class="scripts">

        <script type="text/javascript">

            $(document).ready(function () {
                
                Initialize();
                });

    // Where all the fun happens
    function Initialize() {

        // Google has tweaked their interface somewhat - this tells the api to use that new UI
        google.maps.visualRefresh = true;
        var usa = new google.maps.LatLng(39.0915837, -94.8559049);

        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        var mapOptions = {
            zoom: 4,
            center: usa,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // This makes the div with id "map_canvas" a google map
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        // a sample list of JSON encoded data of places to visit in Tunisia
        // you can either make up a JSON list server side, or call it from a controller using JSONResult
       
        var data = [
                  { "Id": 1, "Name": "Boston State Hospital", "GeoLong": "-71.071019", "GeoLat": "42.363176", "dcr": "9-5, M-F", "contact": "1234567890" },
                  { "Id": 2, "Name": "Bridgeport Memorial Hospital ", "GeoLong": "-73.193224", "GeoLat": "41.164599", "dcr": "8:30 - 3, M-F", "contact": "9998887777" },
                  { "Id": 3, "Name": "Michigan Monte Hospital", "GeoLong": "-87.220765", "GeoLat": "44.080205", "dcr": "7-4, T-Th", "contact": "3332221111" },
                  { "Id": 4, "Name": "San Francisco Hospital", "GeoLong": "-122.406683", "GeoLat": "37.755596", "dcr": "9-5, M-Th", "contact": "4445556666" },
                  { "Id": 5, "Name": "Texas Private Hospital", "GeoLong": "-95.471603", "GeoLat": "29.707817", "dcr": "10-8, M-Su", "contact": "8882223333" }
               ];

        // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
        $.each(data, function (i, item) {
            var marker = new google.maps.Marker({
                'position': new google.maps.LatLng(item.GeoLat, item.GeoLong),
                'map': map,
                'title': item.Name
            });

            // Make the marker-pin blue!
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

            // put in some information about each json object - in this case, the opening hours.
            var infowindow = new google.maps.InfoWindow({
                content: "<div class='Opening Hours:'> <h2> Name:"+ item.Name  + "<br/><h2> Hours: " + item.dcr + "  <br/> <h2> Contact:  "
                         + item.contact + "</div></div>"
            });

            // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

        })
    }


        </script>
    </section>
}  